@media (min-width: 992px) { /* Aplica solo en pantallas grandes */
  .custom-col-1 {
    width: 5%; /* Un poco menos del 8.33% de col-lg-1 */
  }
  .custom-col-9 {
    width: 95%; /* Un poco más del 75% de col-lg-9 */
    padding: 0;
  }
}
@media (min-width: 992px) {  
  .col-lg-4 { 
    width: 5%;
  } 
  .col-lg-6 { 
    width: 32.5em;  
    padding: 0;
  } 
}

h5{
  font-size: 16px;
  text-align: center;
}
h1{
  margin-bottom: 1.2em;
  font-size: 46px;
}  
.panel{
  width: 31em;
  padding: 3em 0 0 0;
  display: flex;
  height: 91vh;
  border-radius: 4em 0em 0 0em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.login{
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.button-icon{
  width: 51px;
}

.container-info{
  width: 82em;
  height: 95vh;
  padding: 0px 9em;
  margin-top: 3em;
}
.alert {
  margin: 0;
  background: #c3930026;
  border: 2px solid #ffc107;
  border-radius: 14px;
  padding: 0;
  overflow: hidden;
  height: 8em;
}
.cards-dashboard{
  display: flex;
  height: 14em;
  padding: 0;
  align-items: flex-end;
  justify-content: space-between;
}
.table-visit{
  height: 50%;
  padding: 3.2em 0 0 0;
}
.table-content{
  overflow-y: scroll;
  height: 21em;
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  border-radius: 22px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input.nosubmit {
  border: 1px solid #555;
  width: 100%;
  padding: 6px 7px 6px 36px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.container-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 13px 0;
}
.button-filter{
  background: #fcc106;
  border: none;
  padding: 2px 17px 2px 19px;
  border-radius: 13px;
}
.button-filter:hover{
  background: #ffcc26;
}
.dropdown-toggle:active{
  background: #ffce2f;
}
.width-card{
  width: 18em;
}
.card-title{
  text-align: center;
  font-size: 5em;
  font-family: math;
}
.card-header{
  background: #ffc107;
  color: white;
}
.card-header.color{
  background:#ffc107;
  color: white;
}
.card-title.color{
  color: #ffc107;
}
.card-title.coolor{
  color: white;
}
.i-movil{
  font-size: 20px;
  margin-left: 12px;
}
.card.content{
  max-width: 18rem;
  border: none;
  border-radius: 18px;
  box-shadow: 1px 3px 7px #dfdfdf;
}
.card-form{
  width: 24em;
  height: 18em;
  margin-bottom: 77px;
  border-radius: 2em;
  overflow: hidden;
  background-color: white;
  border: none;
}
.card-header-form{
  padding: 0.8em 2em;
  display: flex;
  justify-content: space-between;
  background:#f5f5ff;
  color: #ffcc00;
  border-bottom: 1px solid #d2d2d2;
  align-items: center;
}
.form-access{
  display: flex;
  padding: 34px 44px;
  height: 82%;
  grid-gap:24px;
  border-radius: 22px;
  flex-direction: column;
  align-items: center;
}
.form-access.first{
  display: flex;
  padding: 22px 41px;
  height: 84%;
  grid-gap: 14px;
  border-radius: 22px;
  flex-direction: column;
  align-items: center;
}
.btn.summit {
  background-color: #e0e0e0;
  border-radius: 50px;
  background: #f9f9ff;
  box-shadow: inset 7px 6px 5px #e4e4e4, inset -5px -4px 5px #ffffff, 2px 2px 4px #e3e3e3, -5px -4px 5px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(255 255 255);
}

.btn.summit:hover {
  box-shadow: inset 2px 2px 5px #dfad18, inset -2px -2px 5px #fff6d4, 2px 2px 5px #cfcdcd, -2px -2px 5px #e8e8e8;
  background: #fcd152;
  border: 2px solid rgb(255 202 0);}

.btn.summit:focus {
  box-shadow: inset 2px 2px 5px #dfad18, inset -2px -2px 5px #fff6d4, 2px 2px 5px #cfcdcd, -2px -2px 5px #e8e8e8;
  background: #fcd152;
  border: 2px solid rgb(255 202 0);
}
.btn.summit{
  border-radius: 17px;
  width: 13em;
}
.title-panel{
  margin-bottom: 37px;
  font-size: 23px;
  margin-top: 15px;
}

.login_div{
  width: 65em;
  height: 85vh;
  padding: 0 0 0 80px;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: -5px 5px 25px 0px #5f5f5f;
  background-color: #eeeeee;
}

.redes{
  display: flex;
  justify-content: center;
}

.input-form {
  width: 22em;
  display: flex;
  border: none;
  outline: none;
  border-radius: 19px;
  padding: .7em 0.9em;
  background-color: #eeeeee;
  box-shadow: 10px 10px 20px #dddddd, -10px -10px 20px #ffffff;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.input-form:hover{
  box-shadow: -7px -7px 8px #dddddd,7px 7px 8px #ffffff;
}
.input-form:focus{
  box-shadow: -7px -7px 8px #dddddd,7px 7px 8px #ffffff;
}

.input-login {
  width: 22em;
  display: flex;
  border: none;
  outline: none;
  border-radius: 19px;
  padding: 1.2em 0.9em;
  background-color: #eeeeee;
  box-shadow: 10px 10px 20px #dddddd, -10px -10px 20px #ffffff;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.input-login:hover {
  box-shadow: -7px -7px 8px #dddddd,7px 7px 8px #ffffff;
}

.input-login:focus {
  box-shadow: -7px -7px 8px #dddddd,7px 7px 8px #ffffff;
}

.h-login{
  height: 100%;
}

.btn-login{
  width: 10em;
  padding: 0.9em;
  border-radius: 13px;
  background-color: #eeeeee;
  box-shadow: 10px 10px 20px #dddddd, -10px -10px 20px #ffffff;
}

.btn-login:hover {
  box-shadow: -7px -7px 8px #dddddd,7px 7px 8px #ffffff;
}

.container-img{
  height: 100%;
}

.container-img img{
  width: 100%;
  object-fit: contain;
  height: 93%;
}
input[type="date"] {
  border: none;
  background: #f5f5ff;
  color: #ffc107;
  padding: 0 0 0 3px;
  width: 7em;
  border-radius: 6px;
}
.icon-btn{
  border:none;
  border-radius: 150px;
  background: #f5f5ff;
  box-shadow:  5px 5px 7px #e6e6f0,
               -5px -5px 7px #ffffff;
}
.icon-btn:hover{
  border-radius: 150px;
  background: #f5f5ff;
  box-shadow: inset 5px 5px 4px #e4e4ed,
              inset -5px -5px 4px #ffffff;
}
.icon-btn:active{
  border-radius: 150px;
  background: #f5f5ff;
  box-shadow: inset 5px 5px 4px #e4e4ed,
              inset -5px -5px 4px #ffffff;
}
.i-btn{
  font-size:20px;
  color: #cbcbcb;
}
.icon-btn .i-btn:hover{
  color: #ffc107;
}
.i-btn:active{
  color: #ffc107;
}
.menu{
  align-content: flex-end;
}
.perfile{
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}
.btn-user{
  text-align: center;
  background: #fbbf19;
  height: 40px;
  width: 42px;
  align-content: center;
  border-radius: 50%;
}

/* HISTORY */
.history{
  height: 100vh;
  padding: 4em 10em 17px 10em;
}
.table-history{

}

/* HISTORIAL DE USUARIOS */

.users-sec{
  padding: 4em 10em 17px 10em;
}

.btn-add{
    margin-top: 44px;
    width: 194px;
    height: 66px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 36px;
}

.bi-plus{
  font-size: 20px;
  font-weight: 600;
}

.container-users{
    max-width:100%;
    margin: 0;
    margin-top: 70px;
    font-size: 20px;
    padding-right: 0;
}

.nav-link-text {
  color: black !important; /* Cambia el texto a negro */
}

.nav-link-text:hover {
  color: black; /* Mantén el texto negro */
  border-color: #fbbf19 !important; /* Cambia el color de la línea de hover */
}

.search-container{
    display: flex;
    justify-content: end;
}

input.searching {
  border: 1px solid #555;
  width: 100%;
  padding: 6px 7px 6px 36px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.users-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-history{
  margin-top: 38px;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
}

.td{
    padding: 20px 0 !important;
}

.container-pagination{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* .container-pagination:hover{
  background-color: #fbbf19 !important;
} */

/* FORMULARIO PARA DUEÑOS */
.inputOwn{
  width: 15em;
  margin: 0 30px;
}

.input-car{
  width: 34em;
}

.btn-own{
  width: 10em;
  padding: 0.9em;
  border-radius: 40px;
  background-color: #ffc107;
  box-shadow: 10px 10px 20px #dddddd, -10px -10px 20px #ffffff;
}

.btn-own:hover{
  background-color:#eeeeee;
}